<html>
    <body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
    <div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
    <div style="margin: 0 auto; width: 90%; text-align: center;">
        <h1 style="background-color: rgba(0, 53, 102, 1); padding: 5px 10px; border-radius: 5px; color: white;">New Complaint Submission</h1>
        <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
        <h3 style="margin-bottom: 100px; font-size: 24px;">Contact form</h3>
        <div>
          <h4>Full Name:</h4>
          <p >{{var:name:""}}</p>
        </div>
        <div>
          <h4>Email:</h4>
          <p >{{var:email:""}}</p>
        </div>
       
        
        <div>
          <h4>Phone:</h4>
          <p >{{var:phone:""}}</p>
        </div>
        
        <div>
          <h4>Country:</h4>
          <p >{{var:country:""}}</p>
        </div>
        
        <div>
          <h4>Name Of Fradulent Company/ Individual:</h4>
          <p >{{var:name2:""}}</p>
        </div>
       
        <div>
          <h4>Amount:</h4>
          <p >{{var:amount:""}}</p>
        </div>
        
        <div>
          <h4>Payment:</h4>
          <p >{{var:payment:""}}</p>
        </div>
          
          <div>
            <h4>Message:</h4>
            <p >{{var:message:""}}</p>
          </div>
        </div>
    </div>
    </div>
    </body>
   
    </html>